.container.slp-container.text-center
  .row.u-margin-top-lg.u-margin-bottom-lg
    %h4 Code of conduct
    %p 
      GitLab is committed to providing a safe and welcoming experience for every attendee at all of our events whether they are virtual or onsite. Please review our
      = link_to "code of conduct", "/company/culture/contribute/coc/", target: "_blank"
      to ensure Commit is a friendly, inclusive, and comfortable environment for all participants.